<div class="container" ng-controller="SettingsCtrl">
  <h3>Settings</h3>

  <input type="text" ng-model="zmienna">
  <h4>Ostatnio zamkniete : {{zmienna}} </h4>
  <!-- onDismiss:'&' === scope.onDismiss = () => scope.$parent.zmienna = 1 -->

  <app-alert type="danger" on-dismiss="zmienna = 1">
    <h1>Wystapil blad {{zmienna}}</h1>
  </app-alert>

  <app-alert type="info" on-dismiss="zmienna = 2">
    <strong>Brak wiadomosci</strong>

    <app-alert type="success" on-dismiss="zmienna = 3">
      Tranclude: Wiadomosc wyslana
    </app-alert>

  </app-alert>


  <hr>

  <input type="text" ng-model="settings.user.name">

  <user-details2 btn-label=" Na buttonie ;-) " user="settings.user" on-edit="message = 'Klik ' + $event">
  </user-details2>

  <h3>{{message}}</h3>

  <br>


  {{settings.settingA.value}}
  <input type="text" ng-model="settings.settingA.value">

  {{settings.settingB.value}}
  <input type="text" ng-keyup="settings.settingB.value = $event.target.value" ng-value="settings.settingB.value">

  <hr>

  <app-edit-field item-label="Alice" parent-val="settings.settingA.value + '!' "
    on-save="  settings.settingA.value = $event">
  </app-edit-field>

  <app-edit-field item-label="Blice" parent-val="settings.settingB.value"
    on-save=" settings.settingB.value = innerPlacki">
  </app-edit-field>

  <app-edit-field item-label="Clice" parent-val="settings.settingC.value"
    on-save=" settings.settingC.value = innerPlacki">
  </app-edit-field>

  <input type="text" ng-model="settings.placki">
  <app-edit-field item-label="Deser" parent-val=" settings.placki "></app-edit-field>


  <!-- 
  <app-highlight></app-highlight> <br/>

  <div app-highlight=""></div>
  
  <div class="app-highlight"></div> -->

  <!-- directive: app_PSUJE_-highlight -->

</div>