<!DOCTYPE html>
<html lang="en" ng-app='ticTacToe'>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kółko i krzyżyk</title>
    <script src="node_modules/angular/angular.js" defer></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="node_modules/angular/angular-csp.css">
    <script src="index.js" defer></script>
</head>
<style>
    table,
    td {
        border: 1px solid black;
    }
    td {
        width: 100px;
        height: 100px;
    }
</style>
<body ng-controller='tttCtrl'>
    <h1>Kółko i krzyżyk</h1>
    <div>
        <button ng-click='reset()'>Reset</button>
        <div>{{won}}</div>
        <table>
            <tr>
                <td ng-click='nextTurn(0,0)'>{{board[0][0]}}</td>
                <td ng-click='nextTurn(0,1)'>{{board[0][1]}}</td>
                <td ng-click='nextTurn(0,2)'>{{board[0][2]}}</td>
            </tr>
            <tr>
                <td ng-click='nextTurn(1,0)'>{{board[1][0]}}</td>
                <td ng-click='nextTurn(1,1)'>{{board[1][1]}}</td>
                <td ng-click='nextTurn(1,2)'>{{board[1][2]}}</td>
            </tr>
            <tr>
                <td ng-click='nextTurn(2,0)'>{{board[2][0]}}</td>
                <td ng-click='nextTurn(2,1)'>{{board[2][1]}}</td>
                <td ng-click='nextTurn(2,2)'>{{board[2][2]}}</td>
            </tr>
        </table>
    </div>
</body>

</html>